<div class="container">
  <div class="row">
    <div class="col-lg-6">

      
      <form [formGroup]="userForm" (submit)="submitForm()">
        <div class="form-group">
          <label for="name">Name: </label>
          <input class="form-control" type="text" name="name" formControlName="name" />
          <span *ngIf="userForm.get('name').touched && !userForm.get('name').valid">This field is required</span>
        </div>
  
        <div class="form-group">
          <label for="email">Email: </label>
          <input class="form-control" type="email" name="email" formControlName="email" />
        </div>
        <span *ngIf="userForm.get('email').touched && !userForm.get('email').valid">This field is required</span>
        <div class="form-group">
          <label for="dob">DOB: </label>
          <input class="form-control" type="date" name="dob" formControlName="dob" />
          <span *ngIf="userForm.get('dob').touched && !userForm.get('dob').valid">This field is required</span>
        </div>
        
        <div class="form-group">
          <label for="country">Country: </label>
          <select class="form-control" name="country" id="" formControlName="country">
            <option value="IN">India</option>
            <option value="US">America</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="gender">Gender: </label>
          <div class="form-check">
            <input type="radio" name="gender" value="Male" formControlName="gender" />
            <label for="gender">Male</label>
          </div>
          <div class="form-check">
            <input type="radio" name="gender" value="Female" formControlName="gender" />
            <label for="gender">Female</label>
          </div>
          <div class="form-check">
            <input type="radio" name="gender" value="Other" formControlName="gender" />
            <label for="gender">Other</label>
          </div>
          <span *ngIf="userForm.get('gender').touched && !userForm.get('gender').valid">This field is required</span>
        </div>
  
        <div class="form-group">
          <label for="mar_status">Marital Status: </label>
          <div class="form-check">
            <input type="radio" name="mar_status" value="Married" formControlName="mar_status" />
            <label for="mar_status">Married</label>
          </div>
          <div class="form-check">
            <input type="radio" name="mar_status" value="Single" formControlName="mar_status" />
            <label for="mar_status">Single</label>
          </div>
          <div class="form-check">
            <input type="radio" name="mar_status" value="Widowed" formControlName="mar_status" />
            <label for="mar_status">Widowed</label>
          </div>
        </div>
        <span *ngIf="userForm.get('mar_status').touched && !userForm.get('mar_status').valid">This field is required</span>
        <div class="form-group">
          <label for="fav_food">Favourite Food:</label>
          <input class="form-control" type="text" name="fav_food" formControlName="fav_food" />
          
        </div>
        <br>
        <hr>
        <br>
        <h4>Address</h4>
        <div formArrayName="address" *ngFor="let address of userForm.get('address')['controls'];let i = index">
          <div [formGroupName]="i">
            <div class="form-group">
              <label for="">Street: </label>
              <input class="form-control" type="text" formControlName="street">
              <!-- <span *ngIf="userForm.controls[i].get('street').touched && !userForm.controls[i].get('street').valid">This field is required</span> -->
            </div>
            <div class="form-group">
              <label for="">Zip Code: </label>
              <input class="form-control" type="number" formControlName="pincode">
            </div>
  
            <div class="form-group">
              <label for="">Door number: </label>
              <input class="form-control" type="text" formControlName="door_no">
            </div>
            <hr>
          </div>
        </div>
        {{userForm.valid}}
        <input type="submit" class="btn btn-primary" value="Submit" />
      </form>
    </div>
    <div class="col-lg-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">DOB</th>
            <th scope="col">Gender</th>
            <th scope="col">Country</th>
            <th scope="col">Status</th>
            <th scope="col">Fav Food</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userDetails">
            <th scope="row">{{user.name}}</th>
            <td>{{user.email}}</td>
            <td>{{user.dob}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.country}}</td>
            <td>{{user.mar_status}}</td>
            <td>{{user.fav_food}}</td>
            <td>
              <select name="address" id="">
                <option *ngFor="let iter of user.address">
                  Door No:{{iter.door_no}}, Street: {{iter.street}}, Pincode:{{iter.pincode}}
               </option>
              </select>
            <!-- <td>Address 1: Street: {{user.address.street}} Pincode: {{user.address.pincode}}</td> -->
            <td><button (click)="delete(i)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>